amqp==5.1.1
bcrypt==4.0.1
celery==5.3.4
email-validator
fastapi==0.103.2
flower==2.0.1
itsdangerous
motor==3.3.1
orjson==3.9.7
passlib==1.7.4
pydantic_settings
pymongo==4.5.0
python-dotenv==1.0.0
python-jose==3.3.0
redis==5.0.1
uvicorn==0.23.2
websockets
websocket
nuitka